@import url("https://fonts.googleapis.com/css2?family=Salsa&display=swap");

* {
  font-family: "inter";
}
.Hero {
  height: fit-content;
  min-height: 300px;
  width: 100%;
  margin-top: 60px;
  display: flex;
  padding-bottom: 50px;
  

}

.HeroL {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}
.HeroR {
  height: 100%;
  min-height: 580px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.HeroRin {
  height: fit-content;
  min-height: 483px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.HeroL img {
  width: 50vw;
  filter: drop-shadow(0px 0px 50px #90d1cd);
}
.Hero h1 {
  font-size: 65px;
  /* font-size: 5vw; */
  font-weight: 1000;
  font-stretch: extra-expanded;
  font-family: "inter";
  letter-spacing: -1px;
  margin-top: 80px;
  display: flex;
}
.Hero p {
  font-size: 18px;
  /* font-size: 1.5vw; */
  font-weight: 500;
  font-family: "inter";
}

.quote {
  background-color: #7110b2;
  height: fit-content;
  width: fit-content;
  padding: 8px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  box-shadow: 0px 0px 10px rgb(178, 175, 175);
  font-family: "Salsa", cursive;
  position: relative;
}

@media (max-width: 1124px) {
  .Hero {
    flex-direction: column;
  }

  .HeroL {
    width: 100%;
    justify-content: center;
    gap: 0px;
    margin: 0px;
  }

  .HeroL img {
    height: 400px;
    width: 400px;
  }
  .HeroR {
    justify-content: center;
    width: 100%;
    padding: 0px 45px;
    min-height: 0px;
  }
  .HeroRin {
    min-height: 0px;
  }
  .HeroR h1 {
    font-size: 5vw;
  }
}

@media (max-width: 500px) {
  .HeroL{
    margin-top: 20px;
  }
  .HeroL img {
    height: 330px;
    width: 380px;
  }
  .HeroR h1 {
    font-size: 6vw;
  }
  .HeroR p {
    font-size: 16px;
  }
  .HeroR {
    padding: 0px 30px;
  }
}
