header {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(157, 156, 156);
  position: fixed;
  top: 0;
  z-index: 900;
}
.logo {
  height: fit-content;
  width: 10%;
}
.logo p {
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menulist {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.menulist li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}
.navRest {
  width: 20%;
  display: flex;
  justify-content: center;
}
@media (max-width: 1124px) {
  .menulist{
    display: none;
  }
}