header {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 1px 5px rgb(157, 156, 156);
  position: fixed;
  top: 0;
  z-index: 900;
}
.logo {
  height: fit-content;
  width: 10%;
  margin-left: -30px;
}
.logo p {
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.menu {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menulist {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.menulist li {
  list-style: none;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  /* padding: 5px 10px; */
}
.NavLink {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}
.navRest {
  width: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
}

/* .semInp {
  width: 160px;
  background-color: white;
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 1px rgb(175, 175, 175);
  cursor: pointer;
} */

.dropbtn {
  background-color: #7110b2;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 5px 18px;
  min-width: 130px;
}

/* .navRest::before {
  content: ">";
  position: absolute;
  top: 0px;
  right: 60px;
  z-index: 1000;
} */
/* Dropdown Starts here *****************************************/
.dropdown {
  position: absolute;
  width: 160px;
  height: fit-content;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  /* gap: 10px; */
  margin-left: 200px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  bottom: -135px;
  right: -15%;
  box-shadow: 0px 0px 5px rgb(182, 181, 181);
}
.options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  border-bottom: 2px solid rgb(236, 234, 234);
}

.options:nth-child(3) {
  border-bottom: 0px solid black;
}

.options:hover {
  background-color: #aa5bdf;
  border-radius: 5px;
}

@media (max-width: 1124px) {
  .menulist {
    display: none;
  }
  .navRest {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .logo {
    margin-left: -20px;
  }
  .dropdown {
    right: 10%;
  }
  .dropbtn {
    margin-left: -150px;
  }
}
