.container {
  height: fit-content;
  width: 95%;
  background-color: white;
  /* box-shadow: 2px 5px 8px rgb(201, 199, 199); */
  box-shadow: 0px 1px 5px rgb(157, 156, 156);
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  margin-top: 10px;
}

.container h2 {
  font-size: 24px;
  font-weight: 900;
}
.media_alignment {
  width: 69%;
  display: flex;
  justify-content: space-around;
}

.container_content {
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.box {
  height: 180px;
  width: 340px;
  background-color: rgb(255, 255, 255);
  /* border: 2px solid rgb(192, 189, 189); */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  
  margin: 20px;
}

.box:hover {
  scale: 1.01;
  /* box-shadow: 0px 2px 20px rgb(225, 225, 225); */
  transition: all 0.2s ease-in;
}

.box:nth-child(1) {
  background-color: #f4f4fe;
  box-shadow: 0px 0px 5px #c2c2fb;
}
.media_alignment > .box:nth-child(2) {
  background-color: #f7ecfc;
  box-shadow: 0px 0px 5px #cfa4e3;
}
.box3 {
  background-color: #fbecf1;
  box-shadow: 0px 0px 5px 0px #dba5b7;
}

.logo {
  height: 70px;
  width: 70px;
  /* border-radius: 50%; */
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.Para_heading {
  font-weight: 600;
  font-size: 18px;
}
.paraedit p {
  margin: 0px;
}

@media (max-width: 1115px) {
  .container_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .media_alignment {
    width: 100%;
    justify-content: space-around;
  }

  .box3 {
    width: 90%;
    align-self: center;
  }
}

@media (max-width: 820px) {
  .media_alignment {
    flex-direction: column;
    margin: auto;
  }
  .box {
    height: fit-content;
    width: 100%;
    align-self: center;
    padding: 10px;
    margin: 10px;
  }
  .Para_heading {
    font-weight: 600;
    font-size: 14px;
  }

  .paraedit p {
    margin: 0px;
    font-size: 13px;
  }
  .container {
    height: fit-content;
    padding: 10px 10px;
    margin-top: -15px;
  }
  .container h2 {
    font-size: 20px;
    line-height: 40px;
  }
  .container hr {
  margin-top: -10px;
  margin-bottom: -5px;
  }
}
