body {
  background-color: var(--bg-clr);
}
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Dark {
  --bg-clr: white;
  --sec-bg-clr: #ffffff;
  --tert-bg-clr: #ffffff;
  --side-bg-clr: rgba(255, 255, 255, 0.4);
  --para-clr: rgb(0, 0, 0);
  --btn-clr: #7110b2;
  --bx-shadow: rgb(157, 156, 156);
  --box1-clr: #f4f4fe;
  --box2-clr: #f7ecfc;
  --box3-clr: #fbecf1;
  --Hover-bg: #786ece;
  --Hover-clr: rgb(255, 255, 255);
  --Qbasicbg-clr: white;
  background-color: white;
}

.Light {
  --bg-clr: #19191c;
  --sec-bg-clr: #19191c;
  --tert-bg-clr: #19191c;
  --side-bg-clr: rgba(41, 40, 40, 0.4);
  --para-clr: white;
  --btn-clr: #fd356e;
  --bx-shadow: rgb(87, 85, 85);
  --box1-clr: #222328;
  --box2-clr: #2c2431;
  --box3-clr: #2e2327;
  --Hover-bg: rgb(255, 255, 255);
  --Hover-clr: rgb(0, 0, 0);
  --Qbasicbg-clr: rgb(175, 234, 175);
  background-color: #19191c;
}
.active {
  background-color: var(--btn-clr);
  color: var(--para-clr);
}
.active span {
  /* color: var(--para-clr); */
  color: white;
}
.Preloader {
  height: 90vh;
  width: 100%;
  background-color: var(--bg-clr);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadingomage {
  animation: loader 2s ease-in-out;
  height: 80px;
}

@keyframes loader {
  0% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
