.banner {
  width: 90%;
  height: fit-content;
  margin: auto;
  margin-top: 15px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
}

.banner > h2 {
  position: absolute;
  top: 25%;
  left: 20px;
  color: white;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
}
.main {
  width: 90%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--sec-bg-clr);
  padding: 20px 5px;
  margin: auto;
  margin-top: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -5px var(--bx-shadow);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Bar {
  min-height: 75px;
  width: 95%;
  background-color: var(--tert-bg-clr);
  margin-top: 10px;
  padding-right: 5px;
  border-radius: 6px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  position: relative;
  box-shadow: 0px 0px 7px -2px rgb(149, 148, 148);
  text-decoration: none;
  color: black;
}
.main::-webkit-scrollbar {
  visibility: hidden;
}
.Bar::before {
  content: "";
  position: absolute;
  height: 85%;
  width: 6px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: var(--btn-clr);
  left: 5px;
  top: 5px;
}
.heading p:nth-child(1) {
  line-height: 5px;
  font-weight: 600;
}
.heading p:nth-child(2) {
  line-height: 5px;
  opacity: 0.6;
}

.heading {
  margin-top: 12px;
  margin-left: 30px;
  width: 92%;
  /* height: 80%; */
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: var(--tert-bg-clr);
  color: var(--para-clr);
}

.filtercontainer {
  height: 40px;
  width: 90%;
  display: flex;
  gap: 10px;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  margin: auto;
  background-color: var(--sec-bg-clr);
  margin-top: 5px;
  box-shadow: 0px 0px 8px -4px rgb(88, 87, 87);

  border-radius: 5px;
  cursor: pointer;
  overflow-x: auto;
}
.filtercontainer::-webkit-scrollbar {
  display: none;
}

.all {
  min-height: 30px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid var(--btn-clr);
  font-weight: 600;
  color: var(--para-clr);
}
.filterboxes {
  min-height: 30px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: 1px solid var(--btn-clr);
  font-weight: 600;
  color: var(--para-clr);
}
.filterboxes:hover {
  background-color: var(--Hover-bg);
  color: var(--Hover-clr);
}
.filterboxes::selection {
  display: none;
}

.all:hover {
  background-color: var(--Hover-bg);
  color: var(--Hover-clr);
}
@media (max-width: 800px) {
  .banner {
    width: 96%;
    border-top-right-radius: 0px;
  }
  .main {
    width: 96%;
    margin-top: 7px;
    height: 70vh;
  }
  .filtercontainer {
    width: 96%;
  }
  .banner > h2 {
    top: 30%;
  }
}
